.add-product-holder {
  position: absolute;
  inset: 0;
  background: var(--backOpacity);
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem !important;
}
.input-group-prepend {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 50px;
}
.form-control {
  width: 100%;
  height: 45px;
  padding: 0.375rem 0.75rem;
  background-color: var(--backGray);
  background-clip: padding-box;
  border-radius: 8px;
}
.form-control.rd {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-group {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  width: 40%;
  height: 80%;
  overflow-y: auto;
  padding: 30px;
  background-color: var(--white);
  border-radius: 20px;
}
.heading-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  width: 73%;
}
.heading-form h2 {
  font-size: 1.2rem;
}
.input-group-text-prepend {
  width: 100%;
  display: flex;
}
.input-group-text {
  color: var(--icon);
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 150px;
  height: 45px;
  cursor: pointer;
}
.btn-secondary {
  color: var(--white);
  background-color: var(--main);
}
button#addStore {
  width: 100%;
}
.form-group label {
  font-size: 0.9rem;
}
.form-group textarea {
  padding-top: 10px;
  height: 80px;
}
.form-group.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.heading-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

textarea:focus,
input:focus,
select:focus {
  border: 1px solid var(--icon);
}
